In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# Reading the files and creating df

city_df=pd.read_csv("Resources/city_data.csv")
ride_df=pd.read_csv("Resources/ride_data.csv")

In [5]:
# Inspect city_df
# Rows with null value
city_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [6]:
# Inspect city_df
# Check datatype
city_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [9]:
# Inspect city_df
# No of cities for each type
city_df.groupby("type").count()

          city  driver_count
type
Rural       18            18
Suburban    36            36
Urban       66            66

In [11]:
# Inspect ride df
# Counting empty rows
ride_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [13]:
# Inspect ride df
# Datatype
ride_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [15]:
# Merge the dataframes
pyber_data_df=pd.merge(ride_df,city_df,how="left",on="city")
pyber_data_df.count()

city            2375
date            2375
fare            2375
ride_id         2375
driver_count    2375
type            2375
dtype: int64